@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
html,
body {
  font-family: 'Poppins', sans-serif !important;
  user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

body {
  padding: 0 !important;
  overflow: auto !important;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
ul {
  font-family: 'Raleway', sans-serif !important;
}

main {
  padding-top: 105px;
}

.slick-slider .slick-arrow{
  height:40px;
  width:40px;
  border-radius: 10px;
  position: absolute;
  top: 120%;
}
.slick-slider .slick-arrow.slick-prev {
  background: url("/left.png") 13px
    13px / auto no-repeat,#0367a6;    
  left: 46%;
}
.slick-slider .slick-arrow.slick-next {
  background: url("/right.png") 13px 13px / auto no-repeat,#0367a6;  
  right: 46%;
}
.slick-slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}
.slick-next:before, .slick-prev:before{
  display:none;
}
@media screen and (max-width: 768px) {
  main {
    padding-top: 90px;
  }
  .slick-slider .slick-arrow.slick-prev {   
    left: 43%;
  }
  .slick-slider .slick-arrow.slick-next {   
    right: 43%;
  }
}

@media screen and (max-width: 767px) {
  .slick-slider .slick-arrow.slick-prev {   
    left: 36%;
  }
  .slick-slider .slick-arrow.slick-next {   
    right: 36%;
  }
  .slick-slider .slick-arrow{
    top: 110%;
  }
}

@media print {
  html,
  body {
      /* Hide the whole page */
      display: none;
  }
}